/** Add any CSS you need to this file. */
@import url('https://use.typekit.net/oov2wcw.css');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

body {
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 50%;
    background-position-y: 50%;
    background-color: whitesmoke;
    font-family: "century-gothic";
  }

header {
    background-color: rgb(56, 56, 56);
    color: whitesmoke;
    padding: 2vw 5vw 2vw 5vw;
    font-family: 'Bebas Neue', cursive;
    border-radius: 1vw 1vw 0px 0px;
}

h1 {
    font-size:calc(20px + 1.5vw);
}

h5 {
    text-align: right;
    font-size: calc(5px + 1.5vw);
    margin-left: 65vw;
    margin-top: -5vw;
    color: whitesmoke;
}

nav {
    background-color: rgb(172, 172, 172);
    border-radius: 0vw 0vw 1vw 1vw;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 0vw 0vw 1vw 1vw;
}

nav ul li {
    float: left;
    width: 20%;
}

nav a {
  display: block;
  color: #ffffff;
  background-color: rgb(175,175,175);
  text-align: center;
  padding: 1.2vw;
  font-size: 20px;
}

.sidenav {
    width: 5vw;
    position: fixed;
    right: 10px;
    margin-top: 100px;
    padding-top: 20px;
    background-color: gainsboro;
    text-align: center;
}

.sidenav a {
    position: relative;
    line-height: 3vw;
}

#subtitle {
    font-size: 2.5vw;
    margin-top: 3vw;
    margin-left: 3vw;
    text-decoration: underline;
    font-family: 'Bebas Neue', cursive;
}

#item {
    display: inline-block;
    overflow: hidden;
    background-color: wheat;
    margin: 1vw;
    padding: 1vw;
    width: 40vw;
    height: auto;
    min-width: 300px;
}

div p {
    margin-top: 25px;
    font-size: 15px;
    text-align: right;
}

#itemTitle {
    text-decoration: underline;
    font-weight: bold;
    font-size: calc(12px + 0.4vw);
}

#contactUs {
    display: inline-block;
    margin: 1vw 5vw;
    width: 35vw;
    min-width: 250px;
    background-color: wheat;
    padding: 0.5vw;
    font-size: calc(8+00.2vw);
}

label {
    line-height: 300%;
}

#text {
    position: absolute;
    left: 15vw;
    width: 15vw;
    min-width: 200px;
    margin-top: .5vw;
}

.reason {
    margin-left: 3vw;
}

textarea {
    position: relative;
    width: 35vw;
    min-width: 240px;
    min-height: 100px;
    height: 15vw;
}

footer {
    clear: both;
    text-align: center;
    background-color: black;
    color: gray;
    padding: 1.5vw;
}

footer label input {
    position: relative;
    margin-left: 0.1vw;
    left: 0vw;
}

img {
    max-width: 22vw;
    height: auto;
}

#item img {
    min-width: 250px;
}

@media screen and (max-width: 1280) {
    h5 {
        display: none;
    }

    .sidenav {
        margin-top: 10px;
    }

    #item {
        display: block;
        background-color: wheat;
        height: 500px;
    }
}

@media screen and (max-width: 414px) {
    body {
        background-image: none;
    }

    header {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    nav a {
        font-size: 0;
        color: transparent;
    }

    nav .contact {
        font-size: 12px;
        color: black;
    }

    h5 {
        display: none;
    }

    .sidenav {
        display: none;
    }

    #subtitle {
        font-size: 20px;
    }

    #item img {
        float: initial;
        text-align: center;
    }

    div p {
        text-align: center;
        margin: 5vw 0vw;
    }

    #text {
        margin-top: 10vw;
    }

    .reason {
        margin-left: 10vw;
    }
}

@media screen and (max-height: 414px) {
    #item {
        width: 80vw;
        height: auto;
    }

    #item img{
        width: 70vw;
        height: auto;
        text-align: center;
    }

    #item p {
        display: block;
        text-align: center;
    }

    #contactUs {
        width: 100vw;
        height: auto;
        display: block;
        font-size: 10px;
    }
}